{% extends "base.html" %}
{% set active_page = 'calendar' %}

{% block title %}Calendario de Tareas{% endblock %}

{% block head %}
<!-- Importación de Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Importación de la biblioteca FullCalendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    



{% endblock %}

{% block content %}

<!-- Contenido de la página Calendario -->
<h2 class="mt-5 mb-4" style="font-size: 1.5rem;">Calendario de Tareas</h2>
<div id="calendar"></div>

<!-- Configuración del calendario -->

   <!-- Modal de Bootstrap para añadir tarea -->
   <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskLabel">Añadir Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addTaskForm" method="POST">
                    <div class="mb-3">
                        <label for="newTaskTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="newTaskTitle" name="newTaskTitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="newTaskNotes" class="form-label">Notas</label>
                        <textarea class="form-control" id="newTaskNotes" name="newTaskNotes" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="newTaskCategory" class="form-label">Categoría</label>
                        <input list="categoriesList" class="form-control" id="newTaskCategory" name="newTaskCategory" placeholder="Selecciona o escribe una categoría" required value="Sin categoría">
                        <datalist id="categoriesList">
                            <option value="Sin categoría">Sin categoría</option> <!-- Opción predeterminada -->
                            {% for category in categories %}
                                <option value="{{ category.name_category }}">{{ category.name_category }}</option>
                            {% endfor %}
                        </datalist>
                    </div>                    
                    <div class="mb-3">
                        <label for="taskPriority" class="form-label">Prioridad</label>
                        <select class="form-select" id="taskPriority" name="taskPriority" required>
                            {% for priority in priorities %}
                            <option value="{{ priority.id_priority }}" {% if loop.first %}selected{% endif %}>{{ priority.name_priority }}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="mb-3">
                        <label for="taskStatus" class="form-label">Estado</label>
                        <select class="form-select" id="taskStatus" name="taskStatus" required>
                            {% for status in statuses %}
                            <option value="{{ status.id_status }}" {% if loop.first %}selected{% endif %}>{{ status.name_status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="newTaskStartDate" class="form-label">Fecha de creación</label>
                        <input type="datetime-local" class="form-control" id="newTaskStartDate" name="newTaskStartDate">
                        <small class="form-text text-muted">Si no se especifica ninguna fecha, se utilizará la fecha y hora actuales como fecha de creación.</small>
                    </div>
                    <div class="mb-3">
                        <label for="newTaskEndDate" class="form-label">Fecha de finalización (Opcional)</label>
                        <input type="datetime-local" class="form-control" id="newTaskEndDate" name="newTaskEndDate">
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir Tarea</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Bootstrap para editar tarea -->
<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTaskLabel">Editar Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para editar la tarea -->
                <form id="editTaskForm" method="POST">
                    <!-- Campo para editar el título -->
                    <div class="mb-3">
                        <label for="taskTitle" class="form-label">Título</label>
                        <input type="text" class="form-control" id="editTaskTitle" name="taskTitle" required>
                    </div>
                    
                    <!-- Campo para editar las notas -->
                    <div class="mb-3">
                        <label for="taskNotes" class="form-label">Notas</label>
                        <textarea class="form-control" id="editTaskNotes" name="taskNotes" rows="3" required></textarea>
                    </div>
                    
                    <!-- Campo para seleccionar la categoría -->
                    <div class="mb-3">
                        <label for="editTaskCategory" class="form-label">Categoría</label>
                        <input list="editCategoriesList" class="form-control" id="editTaskCategory" name="taskCategory" placeholder="Selecciona o escribe una categoría" required>
                        <datalist id="editCategoriesList">
                            {% for category in categories %}
                                <option value="{{ category.name_category }}">{{ category.name_category }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    
                    <!-- Campo para seleccionar la prioridad -->
                    <div class="mb-3">
                        <label for="editTaskPriority" class="form-label">Prioridad</label>
                        <select class="form-select" id="editTaskPriority" name="taskPriority" required>
                            {% for priority in priorities %}
                                <option value="{{ priority.id_priority }}">{{ priority.name_priority }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <!-- Campo para seleccionar el estado -->
                    <div class="mb-3">
                        <label for="editTaskStatus" class="form-label">Estado</label>
                        <select class="form-select" id="editTaskStatus" name="taskStatus" required>
                            {% for status in statuses %}
                                <option value="{{ status.id_status }}">{{ status.name_status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <!-- Campo para seleccionar la fecha de creación -->
                    <div class="mb-3">
                        <label for="editTaskStartDate" class="form-label">Fecha de creación</label>
                        <input type="datetime-local" class="form-control" id="editTaskStartDate" name="taskStartDate" required>
                    </div>
                    
                    <!-- Campo para seleccionar la fecha de finalización -->
                    <div class="mb-3">
                        <label for="editTaskEndDate" class="form-label">Fecha de finalización (Opcional)</label>
                        <input type="datetime-local" class="form-control" id="editTaskEndDate" name="taskEndDate">
                    </div>

                    <!-- Campo oculto para el ID de la tarea -->
                    <input type="hidden" id="editTaskId" name="taskId">

                    <!-- Botones -->
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>

                <!-- Botón para eliminar la tarea, fuera del formulario -->
                <button id="deleteTaskButton" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#deleteTaskModal">Eliminar Tarea</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación para eliminar la tarea -->
<div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTaskModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres eliminar esta tarea?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-danger">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Importación de tu archivo JavaScript -->
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/openModals.js') }}"> </script>
<script src="{{ url_for('static', filename='js/taskActions.js') }}"> </script> 
<script src="{{ url_for('static', filename='js/utils.js') }}"> </script>
<script src="{{ url_for('static', filename='js/taskEvents.js') }}"> </script> -->
{% endblock %}